.ibJXyi .head-div{
    padding: 12px 17px !important;
    font-weight: bold;
    font-size: 17px;
}
.fa-large{
    font-size: 31px !important;
}
.ibJXyi .head-div .icon-suffix{
    margin: 0px 4px !important;
    cursor: pointer;
}
.text-decoration-none{
    color: inherit;
    font-size: 20px;
    padding-left: 22px;
  
}
.sc-ezrdKe{
    height: 57px !important;
}
.iWQobO {
    background: #39423a !important;
   
}